___
# Ciência dos Dados - PROJETO 3 - INSPER

___
## André Neustein

## Carla Gaieski

## Ester Quintino

___

Definir o preço de uma casa, de acordo com suas características

___

## INTRODUÇÃO

[Detalhe aqui o objetivo deste projeto!!]

___
## MINERANDO DADOS e CARACTERÍSTICAS DO DATASET

[Detalhe aqui as características da base de dados além da análise descritiva.]

In [13]:
import pandas as pd
import os

In [14]:
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
C:\Users\Elcio\Desktop\FACULDADE\3° SEMESTRE\DP CIENCIA DOS DADOS\PROJETO3-master\PROJETO3-master\PROJETO3-master

### BASE DE DADOS

In [15]:
#leitura da base de dados
casa = pd.read_csv('housesalesprediction.zip', compression='zip', header=0, sep=',', quotechar='"')
casa.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [17]:
#modificando o dataframe para conter as variaveis que nos interessam
dados = casa.loc [:, ["date","price", "bedrooms","bathrooms","sqft_living","sqft_lot","floors","waterfront","condition","grade","yr_built","yr_renovated","zipcode"]]
dados.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,3,7,1955,0,98178
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,3,7,1951,1991,98125
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,3,6,1933,0,98028
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,5,7,1965,0,98136
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,3,8,1987,0,98074

In [19]:
dados.dropna()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,3,7,1955,0,98178
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,3,7,1951,1991,98125
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,3,6,1933,0,98028
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,5,7,1965,0,98136
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,3,8,1987,0,98074
5,20140512T000000,1225000.0,4,4.50,5420,101930,1.0,0,3,11,2001,0,98053
6,20140627T000000,257500.0,3,2.25,1715,6819,2.0,0,3,7,1995,0,98003
7,20150115T000000,291850.0,3,1.50,1060,9711,1.0,0,3,7,1963,0,98198
8,20150415T000000,229500.0,3,1.00,1780,7470,1.0,0,3,7,1960,0,98146
9,20150312T000000,323000.0,3,2.50,1890,6560,2.0,0,3,7,2003,0,98038
10,20150403T000000,662500.0,3,2.50,3560,9796,1.0,0,3,8,1965,0,98007
11,20140527T000000,468000.0,2,1.00,1160,6000,1.0,0,4,7,1942,0,98115
12,20140528T000000,310000.0,3,1.00,1430,19901,1.5,0,4,7,1927,0,98028
13,20141007T000000,400000.0,3,1.75,1370,9680,1.0,0,4,7,1977,0,98074
14,20150312T000000,530000.0,5,2.00,1810,4850,1.5,0,3,7,1900,0,98107
15,20150124T000000,650000.0,4,3.00,2950,5000,2.0,0,3,9,1979,0,98126
16,20140731T000000,395000.0,3,2.00,1890,14040,2.0,0,3,7,1994,0,98019
17,20140529T000000,485000.0,4,1.00,1600,4300,1.5,0,4,7,1916,0,98103
18,20141205T000000,189000.0,2,1.00,1200,9850,1.0,0,4,7,1921,0,98002
19,20150424T000000,230000.0,3,1.00,1250,9774,1.0,0,4,7,1969,0,98003
20,20140514T000000,385000.0,4,1.75,1620,4980,1.0,0,4,7,1947,0,98133
21,20140826T000000,2000000.0,3,2.75,3050,44867,1.0,0,3,9,1968,0,98040
22,20140703T000000,285000.0,5,2.50,2270,6300,2.0,0,3,8,1995,0,98092
23,20140516T000000,252700.0,2,1.50,1070,9643,1.0,0,3,7,1985,0,98030
24,20141120T000000,329000.0,3,2.25,2450,6500,2.0,0,4,8,1985,0,98030
25,20141103T000000,233000.0,3,2.00,1710,4697,1.5,0,5,6,1941,0,98002
26,20140626T000000,937000.0,3,1.75,2450,2691,2.0,0,3,8,1915,0,98119
27,20141201T000000,667000.0,3,1.00,1400,1581,1.5,0,5,8,1909,0,98112
28,20140624T000000,438000.0,3,1.75,1520,6380,1.0,0,3,7,1948,0,98115
29,20150302T000000,719000.0,4,2.50,2570,7173,2.0,0,3,8,2005,0,98052
...,...,...,...,...,...,...,...,...,...,...,...,...,...
21583,20140610T000000,399950.0,2,1.00,710,1157,2.0,0,4,7,1943,0,98102
21584,20141202T000000,380000.0,3,2.50,1260,900,2.0,0,3,7,2007,0,98116
21585,20140828T000000,270000.0,3,2.50,1870,5000,2.0,0,3,7,2009,0,98042
21586,20141015T000000,505000.0,2,2.50,1430,1201,3.0,0,3,8,2009,0,98107
21587,20150305T000000,385000.0,3,2.50,1520,1488,3.0,0,3,8,2006,0,98125
21588,20141113T000000,414500.0,2,1.50,1210,1278,2.0,0,3,8,2007,0,98117
21589,20140910T000000,347500.0,3,2.50,2540,4760,2.0,0,3,8,2010,0,98038
21590,20140514T000000,1222500.0,4,3.50,4910,9444,1.5,0,3,11,2007,0,98074
21591,20141002T000000,572000.0,4,2.75,2770,3852,2.0,0,3,8,2014,0,98178
21592,20150416T000000,475000.0,3,2.25,1190,1200,3.0,0,3,8,2008,0,98103
21593,20150317T000000,1088000.0,5,3.75,4170,8142,2.0,0,3,10,2006,0,98056
21594,20141017T000000,350000.0,4,2.75,2500,5995,2.0,0,3,8,2008,0,98042
21595,20141031T000000,520000.0,2,2.25,1530,981,3.0,0,3,8,2006,0,98103
21596,20140813T000000,679950.0,5,2.75,3600,9437,2.0,0,3,9,2014,0,98059
21597,20150421T000000,1575000.0,4,3.25,3410,10125,2.0,0,3,10,2007,0,98040
21598,20141013T000000,541800.0,4,2.50,3118,7866,2.0,0,3,9,2014,0,98001
21599,20140915T000000,810000.0,4,3.00,3990,7838,2.0,0,3,9,2003,0,98053
21600,20141015T000000,1537000.0,5,3.75,4470,8088,2.0,0,3,11,2008,0,98004
21601,20150407T000000,467000.0,3,2.50,1425,1179,3.0,0,3,8,2008,0,98125
21602,20140626T000000,224000.0,3,1.75,1500,11968,1.0,0,3,6,2014,0,98010
21603,20140825T000000,507250.0,3,2.50,2270,5536,2.0,0,3,8,2003,0,98065
21604,20150126T000000,429000.0,3,2.00,1490,1126,3.0,0,3,8,2014,0,98144
21605,20141014T000000,610685.0,4,2.50,2520,6023,2.0,0,3,9,2014,0,98056
21606,20150326T000000,1007500.0,4,3.50,3510,7200,2.0,0,3,9,2009,0,98136
21607,20150219T000000,475000.0,3,2.50,1310,1294,2.0,0,3,8,2008,0,98116
21608,20140521T000000,360000.0,3,2.50,1530,1131,3.0,0,3,8,2009,0,98103
21609,20150223T000000,400000.0,4,2.50,2310,5813,2.0,0,3,8,2014,0,98146
21610,20140623T000000,402101.0,2,0.75,1020,1350,2.0,0,3,7,2009,0,98144
21611,20150116T000000,400000.0,3,2.50,1600,2388,2.0,0,3,8,2004,0,98027
21612,20141015T000000,325000.0,2,0.75,1020,1076,2.0,0,3,7,2008,0,98144

In [30]:
dados['waterfront']=dados['waterfront'].astype('category')
dados['waterfront'].cat.categories = (['Não','Sim'])
dados.head()

,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,condition,grade,yr_built,yr_renovated,zipcode
0,20141013T000000,221900.0,3,1.00,1180,5650,1.0,Não,3,7,1955,0,98178
1,20141209T000000,538000.0,3,2.25,2570,7242,2.0,Não,3,7,1951,1991,98125
2,20150225T000000,180000.0,2,1.00,770,10000,1.0,Não,3,6,1933,0,98028
3,20141209T000000,604000.0,4,3.00,1960,5000,1.0,Não,5,7,1965,0,98136
4,20150218T000000,510000.0,3,2.00,1680,8080,1.0,Não,3,8,1987,0,98074

In [22]:
dados['price'].describe()

count    2.161300e+04
mean     5.400881e+05
std      3.671272e+05
min      7.500000e+04
25%      3.219500e+05
50%      4.500000e+05
75%      6.450000e+05
max      7.700000e+06
Name: price, dtype: float64

### ANÁLISE DESCRITIVA

In [24]:
ct1 = pd.crosstab(dados['condition'], dados['yr_built'])
ct1.head()

yr_built,1900,1901,1902,1903,1904,1905,1906,1907,1908,1909,...,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015
condition,,,,,,,,,,,,,,,,,,,,,
1,2,1,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,1,0,1,6,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,44,13,15,28,21,38,34,33,35,36,...,450,417,366,229,143,130,170,201,559,38
4,26,9,7,10,12,12,36,21,29,38,...,4,0,1,1,0,0,0,0,0,0
5,13,6,5,7,12,23,16,11,20,20,...,0,0,0,0,0,0,0,0,0,0

In [26]:
ct2 = pd.crosstab(dados['condition'], dados['waterfront'])
ct2

waterfront      0   1
condition
1              29   1
2             171   1
3           13940  91
4            5629  50
5            1681  20

___
## MODELOS DE PREDIÇÃO

[O tópico C.PROCESSO E ESTATÍSTICAS DE VALIDAÇÃO estará dentro deste tópico. Organize-o aqui de forma clara!]

[ORGANIZE AQUI TODOS OS MODELOS DE PREDIÇÃO NECESSÁRIOS NESTE PROJETO!]

o MODELO DE PREDIÇÃO PELA MÉDIA

o MODELO DOS K VIZINHOS MAIS PRÓXIMOS (K-Nearest Neighbors Regression)

o MODELO DE REGRESSÃO LINEAR (Multiple Linear Regression)

o MODELO DE ÁRVORES DE REGRESSÃO (Decision Tree Regression)

___
## CONCLUSÃO

___
## REFERÊNCIAS BIBLIOGRÁFICAS